@font-face {
    font-family: 'Track';
    src: url('fonts/track-webfont.eot');
    src: url('fonts/track-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/track-webfont.woff') format('woff'),
         url('fonts/track-webfont.ttf') format('truetype'),
         url('fonts/track-webfont.svg#trackregular') format('svg');
    font-weight: normal;
    font-style: normal;
    }

@media(max-width:767px){
    
    #slide-0{
    //
    }
    
    #headerTxt{
        font-size:15em;         
    }
    
    li {
        border-bottom: 1px solid #000;
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    
    .panel{
        -webkit-box-shadow: 0 0px 0px; 
        box-shadow: 0 0px 0px;    
    }
    
    .panel-body{
        padding-left: 0px;
        padding-right: 0px;    
    }
}


body{
    font-family: 'Roboto', sans-serif;    
    background-image: url("../img/bg/bg-combined.jpg");     
    color: black;  
    overflow-x: hidden;     
}

.slide{
    background-color: transparent;   
}

.relList{
    font-size:0.6em;
    margin-left: 20px;
}

.catNo{
    padding: 5px; 
    border: 3px solid black; 
    width: 6em; 
    margin:auto; 
    font-size: 1.5em;
}
.track{
    font-family: 'Track';   
}

.nav{
    position: fixed;
    width: 200px;
    top: 15px;
    left: 30px;
    font-size: 1.5em;
    background-color: transparent; 
    z-index: 10;
    opacity: 0;
  -webkit-transition:   opacity 0.5s ease;
  -moz-transition:  opacity 0.5s ease;
  -ms-transition:  opacity 0.5s ease;
  -o-transition:  opacity 0.5s ease;
  transition:  opacity 0.5s ease;
  transition-delay:0.2s;}
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#headerTxt{
    margin: 15px;
    font-size: 2em;
    font-weight: 500;
}

.container{
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}

.margin-top-55pc{
    margin-top: 55%;   
}

.rectangleRelease{
    margin: auto;
    width: 600px;
    height: 600px; 
    background-color: black;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.catBlock{
    border: solid 2px black; 
    width: 60px; 
    height: 20px; 
    padding:5px; 
    margin:auto;   
}

.middleRow{
    width: 100%;
    height: 70%;    
}

.outerRow{
    width: 100%;
    height: 15%;
}

.text-size-full{
    font-size: 1.5em;
}

.black-block{
    text-size: 10px; 
    padding: 5px; 
    border: 3px solid black; 
    width: 13%; 
    margin:auto; background-color: black; color: white;   
}

#slide-0{
  /*  background-image: url("../img/cosxy.jpg"); 
    background-size: 100% 100%;
    background-position: center; 
    background-repeat: no-repeat; */
    
}

#slide-0{
 background-image: url("../img/bg/about.jpg"); 
 background-size: cover;
}

#slide-1{
 /*   background-image: url("img/about.jpg"); 
 background: linear-gradient(#CEB5B4, #B99898);  */
}

#slide-2{
/*    background: linear-gradient(#647379, #676F7D);  */
}

.slick-slide {
    min-height: 100%;
    outline: none !important;
}

.slick-slide:focus {
    outline: none !important;
}


.panel{
    border: 0px;
    background-color: white;
}

.panel-default > .panel-heading{
    background-color: #fff;
    
}

ul{
 padding-left: 0px;   
}

li{
 list-style: none;
 padding-left: 0px;
 text-indent: none;
 border-bottom: 0px;
}